<section id="sl_attendance_edit">
  <% if can? :manage, Attendance %>
  <%= render 'form_admin' %>
  <% else %>
  <%= render 'form' %>
  <% end %>
  <%= link_to t(:link_show), @attendance %> |
  <%= link_to t(:link_list), attendances_path %>
</section>
