<section id="admin_notice_index" class="table-responsive">
  <table width="100%" cellpadding="0" cellspacing="0" class="table table-striped table-hover">
		<colgroup>
			<col width="100px" />
			<col />
			<col width="50px" />
			<col width="50px" />
		</colgroup>
		<thead>
			<tr>
				<th><p class="sl_title">사진</p></th>			
				<th><p class="sl_name">제목</p></th>
				<th colspan="2" class="sl_right"><p class="sl_registered_date">관리</p></th>
			</tr>
		</thead>
		<tbody>
			<% unless @admin_resources.empty? %>
			<% @admin_resources.each do |resource| %>
			<tr>
				<td><p></p></td>			
				<td><p class="sl_name"><%=resource.title %></p></td>
				<td class="sl_right">
					<p class="sl_registered_date">
					<%=link_to '수정',edit_admin_resource_path(resource) %>
					</p>
				</td>
				<td>
					<form action="" method="post">
						<% if(resource.enable) %>
						
						<% else %>
						
						<% end %>
    					<div class="action">
							<% if(resource.enable) %>
							<input type="submit" value="비활성하기" />
							<% else %>
							<input type="submit" value="활성하기" />
							<% end %>
						</div>
					</form>
				</td>
			</tr>
			<% end %>			
			<% else %>
			<tr>
				<td colspan="4"><p>글이 없습니다.</p></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div id="sl_bottom_menu">
  <% if can? :create, Resource %>
    <%= link_to t(:link_new), new_admin_resource_path %>
  <% end %>	
			<%= paginate @admin_resources %>
	</div>
</section>