@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Nanum Gothic';
    src: local('☺'),url(font-path('NanumGothic-Regular.eot?#iefix')) format('embedded-opentype'),url(font-path('NanumGothic-Regular.woff')) format('woff');
}

/* default */
html,body {margin:0;padding:0;height: 100%;height:100%;background: url(asset-path('bg.jpg')) repeat}
body {
	font-family: "Nanum Gothic","나눔고딕","Malgun Gothic","맑은 고딕","굴림",gulim,"돋움",Dotum,Arial,Helvetica, sans-serif;
	background: url(asset-path('bg.jpg')) repeat-y top right;
	color: #646464;
	border: none;
}

fieldset {border:none}
legend {height:1px;text-indent:-9999px;display:block;line-height:1px;border:none;background:none}

aside,header {
	 background:url(asset-path('dbg.jpg')) repeat scroll 0 0;
}

aside {align-items: stretch;flex: 1	}

a {
	color: #646464;
}

hr {
  	margin: 20px 0;
  	border: 0;
  	border-top: 1px solid #e0dfdf;
  	border-bottom: 1px solid #fefefe;
}

h1 {
	font-size: 16px;
	line-height: 16px;
}

h2 {
	font-size: 15px;
	line-height: 15px;
}

h3 {
	font-size: 14px;
	line-height: 14px;
}

h4 {
	font-size: 13px;
	line-height: 13px;
}

h5 {
	font-size: 12px;
	line-height: 12px;
}

h6 {
	font-size: 10px;
	line-height: 10px;
}

.green {
	color: #78CD51;
}

.red {
	color: #FA603D;
}

.blue {
	color: #67C2EF;
}

.yellow {
	color: #FABB3D;
}


.box-small {
	text-align: center;
	position: relative;
	display: block;
	margin: 20px;

}

.box-small-link {
	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 30px 0px;
	font-size: 26px;
  	background-color: #fafafa;
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
          	border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0px 1px 1px #fff;
}

.box-small-link:hover {
	border: 1px solid #3c4049;
	margin-bottom: -1px;
  	padding: 30px 0px;
  	color: #fff;
  	background-color: #4e525d;
  	background-image: -moz-linear-gradient(top, #4e525d, #3c4049);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e525d), to(#3c4049));
  	background-image: -webkit-linear-gradient(top, #4e525d, #3c4049);
  	background-image: -o-linear-gradient(top, #4e525d, #3c4049);
  	background-image: linear-gradient(to bottom, #4e525d, #3c4049);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4e525d', endColorstr='#3c4049', GradientType=0);
	text-shadow: 0px 1px 1px #000;
	text-decoration: none;
}

.box-small-title {
	width: 100%;
	margin: 10px auto;
	font-size: 14px;
	color: #aaa;
	text-shadow: 0px 1px 1px #fff;
}



.box {
	margin: 20px 0px;
}


.box-header {
	float:left;
	width:100%;
  	border: 1px solid #ddd;
	margin-bottom: -1px;
  	padding: 10px;
  	background-color: #fafafa;
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
    box-shadow: none;
    border-radius: 2px 2px 0px 0px;
	overflow: hidden;
}

.box-header h2{
	font-size: 14px;
	line-height: 16px;
	float:left;
	margin-top: 2px;
	color: #646464;
	font-weight: normal;
	text-shadow: 0px 1px 0px #fff;
}

.box-header h2 i{
	margin: 1px 3px 0px 5px;
	opacity: .4;
}

.box-header .break{
	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #ddd;
	margin: -12px 10px -10px 10px;
	padding: 12px 0px 10px 0px;

}

.box-header .box-icon {
	float:right;
	margin-top: 1px;
}

.box-header .box-icon i {
	transition: all 0.1s ease-in-out;
	opacity: .4;
}

.box-header .box-icon i:hover {
	opacity: .8;
}

.box-header .box-icon a {
	margin: 0px 5px;
}

.box-content {
	clear:both;
  	margin-top: -1px;
	padding: 10px;
  	border: 1px solid #ddd;
  	background: #fcfcfc;
			box-shadow: 0 1px 0px rgba(255, 255, 255, .6);
}

/* Header Section
=================================================================== */

.navbar-inner {
  	min-height: 40px;
  	padding-right: 20px;
  	padding-left: 20px;
	background: url(asset-path('dbg.jpg'));
	border-left: 0px solid #0a0c0e;
	border-right: 0px solid #0a0c0e;
	border-top: 1px solid #0a0c0e;
  	border-bottom: 2px solid #0a0c0e;
	filter: none;
	text-shadow: 1px 1px 1px #0a0c0e;
	color: #fff;
	box-shadow: 0 4px 0 rgba(0,0,0,.1);
	position: relative;
	z-index: 2;
}

.navbar-inner a {
	color: #646464;
}

.navbar-inner a i {
	opacity: .8;
}

.navbar-inner a:hover i {
	opacity: 1;
}

.brand img {
	margin: -12px 0px -5px 0px;
}

a.brand span {
	color: #fff;
	text-shadow: 1px 1px 2px #0a0c0e;
}

.header-nav {
	border-right: 1px solid #0a0c0e;
	border-left: 1px solid #212121;
	padding: 0px;
	color: #fff !important;
}

.header-nav .nav {
	margin: 0px;
}
.header-nav .btn {
  	display: inline-block;
  	padding: 11px 20px;
	margin-top: 0px;
  	margin-left: 0px;
  	font-size: 14px;
  	line-height: 20px;
  	text-align: center;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	vertical-align: middle;
  	cursor: pointer;
  	background: transparent;
  	border-left: 1px solid #0a0c0e;
	border-right: 1px solid #212121;
	border-top: 0px solid #bbbbbb;
	border-bottom: 0px solid #bbbbbb;
          	border-radius: 0px;
          	box-shadow: none;
}

.header-nav .btn i {
	text-shadow: 0px 1px 1px #0a0c0e !important;
}

.header-nav .btn .caret {
	border-top-color: #ddd !important;
	border-bottom-color: #ddd !important;
}

.header-nav .btn:hover .caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

/* Navigation Section
=================================================================== */

.nav-tabs.nav-stacked > li > a {
  	margin: 2px;
		color: #646464;
  	border: 1px solid #ddd;
  	background: transparent;
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
		border-radius: 2px;
}

.sidebar-nav > ul > li > ul {
	margin: 0px;
	padding: 5px 0px 5px 25px;
	list-style: none;
	display: none;
}

.sidebar-nav > ul > li > ul.current {
  display:block;
}

.sidebar-nav > ul > li > ul > li {
	padding: 5px 0px 5px 0px;
}

.sidebar-nav > ul > li > ul > li > a:hover {
	text-decoration: none;
}

.nav-tabs.nav-stacked > li > a > i {
	opacity: .6;
	margin-top: 1px;
	margin-right: 5px;
}

.nav-tabs.nav-stacked  > li.active > a {
  	margin: 2px;
  	border: 1px solid #3c4049;
  	color: #fff;
  	background: #0a0c0e;
		border-radius: 2px;
}

.nav-tabs.nav-stacked > li.active > a > i {
	opacity: 1;
}

.nav-tabs.nav-stacked > li:first-child > a {
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
}

.nav-tabs.nav-stacked > li > a:hover {
  	margin: 2px;
  	border: 1px solid #3c4049;
  	color: #fff;
  	background-color: #4e525d;
  	background-image: linear-gradient(to bottom, #4e525d, #3c4049);
		border-radius: 2px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  	color: #555555;
  	background-color: #000;
  	outline: 0;
}


/* default layout */

#mom {float:left;width:100%;margin-top:-80px;margin-bottom:-50px;min-height:100%;display:flex}
#main {float:left;width:100%;padding-top:80px;padding-bottom:50px;display:flex;align-items: stretch;flex: 1}

header {height:80px;}
aside ul.nav {margin:0;padding:0}
footer {
	clear:both;
	position: relative;
	height: 50px;
	background: url(asset-path('dbg.jpg'));
}
footer a {color:#fff}
footer address {
	position: relative;
	text-align:center;
	padding:10px 0;
	margin:0;
	color:#fff;
}

.login-box {
	width: 400px;
	margin: 100px auto;
	background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 19%,rgba(255,255,255,1) 77%,rgba(245,245,245,1) 100%);
	color: #000;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
}

.login-box h2 {
	color: #646464;
	text-align:center;
	margin-bottom: 10px;
	font-family: monaco;
	font-weight: normal;
}

/* end Default Layout */
