<section id="admin_guest_book_edit">
  <%= render 'form' %>
  <%= link_to t(:link_show), admin_guest_book_path(@admin_guest_book) %> |
  <%= link_to t(:link_list), admin_guest_books_path %>
</section>
