<section id="section_site_intro">
	<article>
		<h3>사이트 소개</h3>
		<p>수정이의 미모와 애교를 널리 알리려는 목적으로 <%=link_to '잠자는-사자','http://www.sleepinglion.pe.kr' %>가 제작한 사이트입니다.</p>
	</article>
	<article>
		<h3>본 사이트는 소수 사용자의 사용성 향상을 위해 노력합니다.</h3>
		<ol>
			<li>IE가 아닌 환경에서도 사용 가능한 사이트</li>
			<li>자바스크립트 없이도 사용 가능한 사이트</li>
			<li>CSS 없이도 사용 가능한 사이트</li>
			<li>저 해상도에서도 사용 가능한 사이트</li>
			<li>이미지 없이도 사용 가능한 사이트</li>
			<li>저 컬러에서도 같은 색상으로 표현 되는 사이트</li>
			<li>저용량으로 빠르게 반응하는 사이트</li>
		</ol>
	</article>
	<article>
		<figure>
			<%=image_tag 'rails.png' %>
			<figcaption>Rails</figcaption>			
		</figure>
	</article>
</section>