@charset "utf-8";
//= require fancybox

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Nanum Gothic';
    src: local('☺'),url(font-path('NanumGothic-Regular.eot?#iefix')) format('embedded-opentype'),url(font-path('NanumGothic-Regular.woff')) format('woff');
}

/* default */
html, body {margin:0;padding:0;height: 100%}
body { font-family: "Nanum Gothic","나눔고딕","Malgun Gothic","맑은 고딕","굴림",gulim,"돋움",Dotum,Arial,Helvetica, sans-serif;color:#333}
label {vertical-align:middle;cursor:pointer}
a img {border:none}
input {vertical-align:middle}
fieldset {border:none}
legend {display:none}
a{color:#666;text-decoration:none;}
a:active {color:red}
a:hover{color:#333;text-decoration:underline;}

h1 {font-size :1.5em}
h2 {font-size :1.3em}
h3 {font-size :1.1em}
h4,h5,h6 {font-size : 1em}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* layout */
header {position:relative;float:left;width:100%;margin:0 auto;padding:0}
footer {float:left;width:100%;background:#333;color:#ccc;margin:0;padding:0;text-align: center;}
footer div {margin:0.3em 0 0}
#mom {clear:both;float:left;width:100%;padding:0}
.sub_main {float:left;width:728px;padding:0 0 3em}
.page-header {float:left;width:100%}
.page-header h1 {float:left;margin:0.7em 0 0;padding:0;font-weight:bold;color:#666}
.page-header .breadcrumb {float:right;margin:0}
.alert-success {clear:both}
#sl_ad {float:left;margin:10px 0}


/* Common Class */
.arial {font-family:Arial}
.noneData {text-align:center}
.clear {clear:both}
.none {display:none}
.number {font-family:Arial;letter-spacing:0}
.clear{clear:both}
.none{display:none}
.ad_test {background:red}
.clearfix {height:1px}
.nav:after {clear:left}
.sl_categories span.hidden-xs {display:inline!important}

header h1 {margin:1% 0 1% 3%;padding:0;font-size:2em}
header h1 a:hover {color:#000;text-decoration:none}
header h1 a:active {color:red}
header #top_menu {position:absolute;right:10px;top:5px;margin:0;padding:0;list-style:none}
header #top_menu li {float:left;margin:0 15px 0 0;padding:0}

header nav {float:right;background:#333;margin:0;padding:0}
#sdt_menu {position:relative;float:left;margin:0;padding:0;z-index:9;list-style: none}
#sdt_menu li {float:left;width:122px;height:35px;margin:0;padding:0;position:relative;cursor:pointer}
#sdt_menu li a {position:absolute;top:0px;left:0px;z-index:12;width:100%;text-decoration:none;outline:none;height:40px;}
#sdt_menu li a img {border:none;position:absolute;width:0px;bottom:0px;left:85px;z-index:100}
#sdt_menu li span.sdt_wrap{position:absolute;display:block;text-align:center;top:0px;left:0px;width:100%;height:40px;z-index:15;background-repeat:no-repeat}
#sdt_menu li span.sdt_active{position:absolute;background:#111;top:35px;width:122px;height:0px;left:0px;z-index:14}
#sdt_menu li span.sdt_link a{text-align:center;text-shadow:1px 1px 1px #000}
#sdt_menu li span.sdt_link {display:block;width:100%;font-size:14px;float:left;clear:both;text-align:center}

/* intro */
#sl_intro_index h3 {margin-bottom:40px;text-indent:0}
#sl_intro_index #intro_main_content {float:left;width:100%;margin:0 0 20px}
#sl_intro_index #sl_intro_left {float:left;width:400px}
#sl_intro_index #sl_intro_right {float:right;margin:0 0 0 20px;position:relative;width:300px}
#sl_intro_index #sl_intro_right dl {float:left;width:100%;margin:0 0 10px;padding:0}
#sl_intro_index #sl_intro_right dt {clear:both;float:left;margin:5px 0;width:100px;}
#sl_intro_index #sl_intro_right dd {float:left;margin:5px 0;width:200px}
#sl_intro_index article {margin-bottom:2em;line-height:150%}
#sl_intro_index article h2 {margin:0 0 1em;padding:0.5em 0;border-bottom:1px dotted #ccc}
#sl_intro_index #main_content a {clear:both;display:block}

/* gallery */
#sl_gallery_index {float:left;width:100%;margin:10px 0}
#sl_gallery_index ol.nav-tabs {margin:0 0 10px}
#sl_gallery {float:left;width:100%;margin:20px 0}
#gallery_main_content {float:left;width:100%;margin:0 0 20px}
#sl_gallery_left {float:left;position:relative;overflow:hidden}
#sl_gallery_left span {position:absolute;display:block;bottom:0px;padding:5px 0;text-align:center;color:#fff;width:100%;background:#333;opacity:0.8}
#sl_gallery_right {float:left;margin:0 0 0 20px;position:relative;width:300px}
#sl_gallery_right h4 {margin:0 0 10px;padding:0}
#sl_gallery_right div.text {margin:0 0 20px;line-height:170%}
#sl_gallery_right div.text p {margin:0;padding:0}
#sl_gallery_right div.add_info {color:#999}
#sl_gallery_slide {position:relative;float:left;width:100%;margin:20px 0;padding:0;list-style:none}
#sl_gallery_slide .scrollable {float:left;position:relative;overflow:hidden;width:100%;margin:25px 0 0;height:100px}
#sl_gallery_slide .scrollable .items {width:20000em;position:absolute;clear:both}
#sl_gallery_slide .scrollable .items .item {float:left;margin:0;padding:0;width:770px;list-style:none}
#sl_gallery_slide .scrollable .items .item li {float:left;margin:0 23px 0 0;padding:0}
#sl_gallery_slide .scrollable .items .item li a {float:left;display:block}

/* FAQ Category*/
#faqCategoryList {float:left;width:100%;margin:0;padding:0;background:#666;list-style:none}
#faqCategoryList li {position:relative;float:left;margin:0;padding:0;border-right:1px solid #999}
#faqCategoryList li a.title {float:left;width:100px;text-align:center;display:block;padding:10px 0;color:#fff;text-decoration:none}
#faqCategoryList li.on {background:#f3f3f3}
#faqCategoryList li.on a.title {background:#f3f3f3;color:#333}
#faqCategoryList li.on .sl_faq_category_menu {float:right;background:#f3f3f3;color:#333}

/* FAQ List */
#faqList { float:left;width:100%;margin:0;padding:15px 0;background:#f3f3f3}
#faqList dt {position:relative;float:left;width:95%;display:inline;margin:2px 0 0 15px;padding:0;cursor:pointer;}
#faqList dt.none {display:none}
#faqList dt a.title {display:block;padding:11px 0 11px 40px;color:#666;border-bottom:1px solid #eee;background:#fff url(asset-url('board/toggle_open.png')) no-repeat 10px 11px;text-decoration:none}
#faqList dt a.title:hover {border-bottom:1px solid #ddd;}
#faqList dt .sl_faq_menu {position:absolute;top:10px;right:10px}
#faqList dt.on a {background-position:10px -46px;}
#faqList dd {float:left;display:inline;width:650px;margin:5px 0 0 15px;padding:5px 0 10px;line-height:140%}
#faqList dd p {float:left;clear:left;margin:0;padding:3px 10px 0 40px;line-height:120%;letter-spacing:0;}
#faqList dd span.wrap {float:left;font-family:Arial;border-radius: 0.2em 0.2em 0.2em 0.2em;color: #fff;display:inline;font-size: 11px;margin: 2px 10px 2px 40px;padding: 0 3px;background:#f90}

/* blog */
#sl_blog_index {float:left;width:100%;margin:10px 0}
#sl_blog_index ol.nav-tabs {margin:0 0 10px}
#sl_blog {float:left;width:100%;margin:20px 0}
#sl_blog_index .media {border-bottom:1px dotted #ccc;padding-bottom:10px;margin-bottom:20px}



/* default */
.slboard_main a {outline:none}
.slboard_main {float:left;width:100%}
.slboard_main fieldset {border:none;margin:0;padding:0}
.slboard_main legend,#slboard_main caption {display:none}
.slboard_main .none {display:none}
.slboard_main .sl_input {	border:1px solid #ccc;border-top-color:#999;border-left-color:#999;padding:4px 2px;font-size:12px}
.slboard_main .sl_input:focus { background-color:#ffffdd}
.slboard_overlay {position:relative;z-index:9999;display:none;width:400px;padding:35px;font-size:12px}
.slboard_main a:focus {outline:none}
.sl_left {text-align:left}
.sl_center {text-align:center}
.sl_right {text-align:right}


/* popup */
.check_password_form {float:left;width:300px;background:#fff;width:280px;margin:0;padding:0px}
.check_password_form .section_top {float:left;width:100%;margin:0 0 10px;padding:0;height:27px;background:#ccc}
.check_password_form .section_top h2 {float:left;display:inline;margin:7px 0 0 20px;padding:0;font-size:12px;color:#fff;}
.check_password_form .section_top .close_popup {float:right;margin:5px 0 0;text-indent:-9999px;background: url(asset-url("/assets/board/close_popup.png")) no-repeat scroll 0 0 transparent;display: block;width:20px;height:20px;text-decoration: none;}
.check_password_form form {margin:0;padding:0px 20px 20px}
.check_password_form form label {text-indent:-9999px;display:block;height:1px}
.check_password_form #notice {margin:0 0 0 30px}

/* main_list */
.slboard_list p {margin:0;padding:0;line-height:100%}
.slboard_list th {padding:10px 0;background:#ccc}
.slboard_list td {padding:10px 0;border-bottom:1px solid #f0f0f0;}
.slboard_list tr.nb td{border-bottom:none}
.slboard_list td a {color:#666;text-decoration:none}
.slboard_list td a:hover {color:#333;text-decoration:underline}
.slboard_list td .sl_photo {margin:0;padding:0}
.slboard_list th p.registered_date{display:inline;padding-left:40px}
.slboard_list th p.sl_name,.slboard_list td p.sl_name{text-align:left;text-indent:10px}
.slboard_list th p.sl_registered_date {margin-right:10px}
.slboard_list td p.sl_registered_date{font-family:Arial;margin-right:10px;letter-spacing:0;color:#999}
.slboard_list td p.sl_count,.slboard_list td p.comment  {font-family:Arial;letter-spacing:0;color:#999}
.slboard_list td .file_link {margin-left:10px}


/* content */
.slboard_content {margin-bottom:10px;padding-bottom:10px}
.sl_content_header  {position:relative;float:left;width:100%;margin:5px 0 0;padding:10px;
	 	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
     	-moz-box-shadow: none;
          box-shadow: none;
  	-webkit-border-radius: 2px 2px 0px 0px;
       -moz-border-radius: 2px 2px 0px 0px;
          	border-radius: 2px 2px 0px 0px;
	overflow: hidden;}
.sl_content_header h3 {float:left;margin:0.3em 0 0 2em;padding:0;line-height:1em}
.sl_content_header p {float:right;margin:0 20px 0 0;padding:0;color:#999;}
.sl_content_main {clear:left}
.sl_content_text {padding:40px 0;margin:0;line-height:150%;}
#sl_content {width:730px;height:300px}


/* form */
.slboard_form {float:left;margin:5px 0 0 ;padding:5px 0;width:100%}
.slboard_form .field {float:left;width:100%;margin:0;padding:10px 0;}
.slboard_form .field label {float:left;display:block;width:100px;padding-left:10px}
.slboard_form .field label.simple {float:none;display:inline;padding:0;}
.slboard_form .field br {display:none;}
.slboard_form textarea,.slboard_form iframe {width:570px;height:200px}
.slboard_form .actions {float:left;width:100%;text-align:center;margin:10px 0 0;padding:10px 0 0;border-top:1px solid #ccc}
.slboard_form input,.slboard_form label {vertical-align:middle}



/* buttoms */
#sl_bottom_menu {float:left;width:100%;padding:10px 0 0;}
#sl_content_bottom_menu {float:left;width:100%;border-top:1px solid #ccc;margin:20px 0;padding:10px 0}


/* comment_form */
#sl_comment_form_layer form {float:left;width:100%;background:#f3f3f3;padding:2% 5%}
#sl_comment_form_layer form textarea {float:left;width:100%;height:60px;margin-bottom:10px}


/* comment_list */
.sl_comment_list_layer {float:left;width:100%}
.sl_comment_list_layer .sl_created_at {color:#999;margin:0 0 0 30px}


/* answer_list */
#sl_answer_list_layer {float:left;width:100%}
#sl_answer_list_layer div.sl_answers {float:left;position:relative;border:2px solid #ccc;float:left;width:96%;margin:0 0 10px;padding:10px 2%}
#sl_answer_list_layer div.sl_answers figure {float:left;margin:0 30px 0 0;padding:0}
#sl_answer_list_layer div.sl_answers figure figcaption {text-indent:-9999px}
#sl_answer_list_layer div.sl_answers dl {float:left;width:80%;margin:0;padding:0}
#sl_answer_list_layer div.sl_answers dt {float:left;margin:0;padding:0;text-indent:-9999px;width:1px;height:1px}
#sl_answer_list_layer div.sl_answers dd {clear:left;float:left;width:100%;margin:0;padding:0}
#sl_answer_list_layer div.sl_answers dd p {white-space:word-break;text-overflow:ellipsis}
#sl_answer_list_layer div.sl_answers .sl_registered_date {position:absolute;top:10px;right:10px;color:#999}




#main_main section {margin:0 0 3em;padding:0}
#main_main section article {margin:0 0 3em}
#main_main .scrollable {float:left;position:relative;overflow:hidden;width:100%;margin:5px 0 0;height:100px}
#main_main .scrollable .items {width:20000em;position:absolute;clear:both}
#main_main .scrollable .items .item {float:left;margin:0;padding:0;width:750px;list-style:none}
#main_main .scrollable .items .item li {float:left;margin:0 25px 0 0;padding:0;width:100px}
#main_main article h3 {float:left;width:100%;margin:0 0 1em;padding:0.5em 0;border-bottom:1px solid #ccc}
#main_main a.more {position:absolute;top:0.5em;right:0;color:#999}
#main_main article {position:relative;float:left;width:100%;margin:0;padding:0px}
#main_main .section_main2 article {margin-right:30px;width:220px}
#main_main .section_main2 #sl_main_question {float:right;margin-right:0}
#main_main .section_main2 article ul {margin:0;padding:0;list-style:none}
#main_main .section_main2 article li {margin:0.3em;padding:0}
#main_main .sl_registered_date {float:right}


/* SL main list */
.sl_main_list {float:left;width:100%}
.sl_main_list h3 {float:left;width:100%}
.sl_main_list ul {float:left;width:100%;margin:0;padding:0 0 0 20px}
.sl_main_list ul li {float:left;width:100%;margin:0;padding:0}

#sl_main_blog ul {float: left;list-style: none outside none;margin: 0 0 10px;padding: 0;width: 100%;}
#sl_main_blog li {float:left; margin:0 25px 0 0; padding:0; width:100px}
#sl_main_blog li.nm {margin:0}


a.browse {background: url(asset-url("hori_large.png")) no-repeat scroll 0 0 transparent;cursor: pointer;display: block;position:absolute;top:10px;font-size: 1px;height: 30px;margin: 40px 10px;width: 30px}
a.browse:hover {text-decoration:none}
a.left {left:-43px}
a.right {right:-35px;background-position: 0 -30px;clear: right;margin-right: 0}
a.right:hover {background-position: -30px -30px}
a.right:active {background-position: -60px -30px}
a.left {margin-left: 0}
a.left:hover {background-position: -30px 0}
a.left:active {background-position: -60px 0}

#main_main a.left {top:37px}
#main_main a.right {top:37px}

#prev_link,#next_link {float:left;display:block;width:23px;height:21px;}
#prev_link {background-position:-92px -62px}
#prev_link:hover {background-position:-91px -21px}
#next_link {background-position:-92px -82px}
#next_link:hover {background-position:-91px -41px}


#question_main {float:left;width:100%}
#faq_main {float:left;width:100%}



#slboard_main a {text-decoration:none}
#slboard_main a:hover {text-decoration:underline}

#section_site_intro {}
#section_site_intro article {margin:0 0 20px}
#section_site_intro article figure {margin:0;padding:0}


.box {float:left;width:100%;margin:20px 0px;}
.box_header {float:left;width:100%;border: 1px solid #ddd;margin-bottom: -1px;padding: 10px;
 		background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: none;
     	-moz-box-shadow: none;
          box-shadow: none;
  	-webkit-border-radius: 2px 2px 0px 0px;
       -moz-border-radius: 2px 2px 0px 0px;
          	border-radius: 2px 2px 0px 0px;
	overflow: hidden;
}

.box_header h2 {font-size: 16px;line-height: 16px;float:left;margin-top: 2px;margin-bottom: 0;color: #646464;font-weight: normal;text-shadow: 0px 1px 0px #fff;}
.box_header h2 i{margin: 1px 3px 0px 5px;opacity: .4;}
.box_header .break {border-left: 1px solid #fcfcfc;border-right: 1px solid #ddd;margin: -12px 10px -10px 10px;padding: 12px 0px 10px 0px;	}
.box_header .box_icon {float:right;margin-top: 1px;}
.box_header .box_icon i {-webkit-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-ms-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;opacity: .4;}
.box_header .box_icon i:hover {opacity: .8;}
.box_header .box_icon a {margin: 0px 5px;}
.box_content {float:left;width:100%;margin-top: -1px;padding: 10px;border: 1px solid #ddd;background: #fcfcfc;-webkit-border-radius: 0px 0px 2px 2px;-moz-border-radius: 0px 0px 2px 2px;border-radius: 0px 0px 2px 2px;-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .6);-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .6);box-shadow: 0 1px 0px rgba(255, 255, 255, .6)}

footer {position:relative;float:left;width:100%;background:#333;margin:0;padding:1em 0}
footer p {padding:0px;margin:3px;color:#fff;text-align:center}
footer a {color:#999}
footer a:hover {color:#fff}
footer #language_form {position:absolute; top:10px;right:10px }

@media all and (max-width: 768px) {
	html,body {background:#ccc}
	header h1 {margin:2%;padding:0;font-size:1.6em}
	header nav {float:left;width:96%;margin:0 2%;padding:0 0 5px;background:#fff;border-radius:5px}
	#sdt_menu {width:100%}
	#sdt_menu li,#sdt_menu li a {clear:both;width:100%;text-align:left}
	#sdt_menu li {margin:0;padding:0}
	#sdt_menu li a {float:left;width:100%;border-bottom:1px solid #eee;color:#333}
	#sdt_menu li img {display:none}
	#sdt_menu li a:hover {color:#000;background:#eee}
	#sdt_menu li:last-child a {border-bottom:none}
	#sdt_menu li span.sdt_link{text-align:left;}
	#sdt_menu li a .glyphicon-chevron-right {margin:0 3em 0 0;color:#999}
	#sdt_menu li a:hover .glyphicon-chevron-right {margin:0 3em 0 0;color:#333}
	#mom {float:left;clear:both;width:96%;margin:2%}
	#main {float:left;margin:0;padding:0;width:100%;padding:3%;border-radius:5px;background:#fff;}
	.sub_main {width:100%}
 #sl_main_blog li {margin-bottom:10px}
 #sl_ad{margin-left:auto;margin-right:auto}
	#main_main .section_main2 article {width:100%}
	#sdt_menu .sdt_link {text-indent:2em;padding:10px 0;display:block;text-align:center;color:#333}
	#sdt_menu a:hover .sdt_link {color:#000}
	#sdt_menu a:active .sdt_link {color:red}
	.page-header {margin:0 0 10px}
  #sl_intro_index #sl_intro_right, #sl_gallery_index #sl_gallery_right {width:100%;margin:0}
	#sl_intro_index #sl_intro_left {width:100%}
	footer {background:#fff;border-radius:5px;width:96%;margin:0 2% 1%}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	header {height:8em}
	footer {height:5em;margin:20px}
	#mom {margin:-8em 0 -5em;min-height:100%}
	#main {padding:8em 0 5em}
	#sdt_menu {background:#333}
	#sdt_menu li a {width:122px;height:35px}
	#sdt_menu .sdt_link {padding:10px 0;display:block;text-align:center}
	#sdt_menu li a {text-align:center;text-shadow:1px 1px 1px #000;color:#fff;background:#333 no-repeat;}
	#sdt_menu li span.sdt_link {color:#fff}
}

@media all and (min-width: 1025px) {
	header {height:8em}
	header nav {width:80%}
	footer {height:5em}
	#mom {margin:-8em 0 -5em;min-height:100%}
	#main {padding-top:8em;padding-bottom:5em}
	#sub_main {float:left}
	.ad_test {height:90px}
	#sdt_menu {background:#333}
	#sdt_menu li a {width:122px;height:35px}
	#sdt_menu .sdt_link {padding:10px 0;display:block;text-align:center}
	#sdt_menu li a {text-align:center;text-shadow:1px 1px 1px #000;color:#fff;background:#333 no-repeat;}
	#sdt_menu li span.sdt_link {color:#fff}
}
