<div class="page-header" itemscope itemtype="http://schema.org/WebPage">
	<h2 itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement"><span itemprop="headline"><%=@controller_name %></span></h2>
	<%= breadcrumbs :semantic=>true, style: :bootstrap %>
</div>